@import "fonts"
@import "libs"
@import "vars"

// анимации

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	h2
		font-family: $bebas
	a
		color: #828282
		transition: 0.2s
		&:hover
			text-decoration: none
		&:focus
			outline: 0
	.aside-lines
		display: inline-block
		position: relative
		&:before, &:after
			content: ""
			width: 60px
			position: absolute
			height: 0
			top: 50%
			border-bottom: 1px solid #CCCCCC
			margin-top: -1px
		&:before
			left: -72px
		&:after
			right: -72px
	.shadow
		position: relative
		&:after
			position: absolute
			z-index: -1
			content: ""
			width: 100%
			height: 100%
			background-color: rgba(#000, 0.15)
			filter: blur(20px)
			top: 18px
			left: 20px
.img-responsive
	display: block
	max-width: 100%
	height: auto
header
	padding-top: 30px
	box-shadow: 0 6px 10px rgba(#000, 0.1)
	background-color: #FFF
	z-index: 1000
	position: relative
	.navbar	
		margin-bottom: 21px
		.navbar-header
			.navbar-brand
				height: auto
				padding: 0
		.navbar-collapse
			.navbar-nav
				padding-top: 4px
				&:first-child
					position: relative
					left: 40px
					li
						padding: 0 23px 0 14px
						a
							padding: 0 0 2px 0
							img
								padding-right: 8px
				li
					a, :not(.dropdomn-menu) a
						line-height: 40px
						padding: 0 25px 2px 25px
						position: relative
						&:before
							width: 50%
							content: ""
							position: absolute
							bottom: -3px
							left: 3px
							border-bottom: 2px solid transparent
						&.register
							background-color: $red
							color: #fff
							padding-right: 15px
							padding-left: 15px
							&:after
								content: ""
								position: absolute
								bottom: 0px
								left: 15px
								height: 1px
								transition: 0.2s
								background-color: $red
								width: 85%
								box-shadow: 0 0 10px 1px $red
							&:hover, &:focus
								background-color: $red
								color: #fff
								&:after
									opacity: 0
							&:focus
								box-shadow: inset 0 0 15px rgba(#000, 0.25)

					a:hover, a:focus
						background-color: transparent
						color: $red
				li.active a
					color: #000
					&:before
						border-color: $red
				&.navbar-right
					border-left: 1px solid #E5E5E5
					li
						&.active
				.dropdown
					& > a
						&:hover, &:focus
							color: $red
							background-color: transparent
					.dropdown-menu
						background-color: #f2f2f2
						border: none
						width: 700px
						top: 65px
						left: -100px
						padding: 42px 0
						border-radius: 0
						a
							display: block
							padding: 0
						h3
							font-size: 27px
							margin-bottom: 0
							margin-top: 0
						p
							font-size: 16px
							line-height: 20px
						&:after
							content: ""
							position: absolute
							top: -15px
							left: 175px
							width: 32px
							height: 70px
							background-color: #f2f2f2
							border-radius: 85% 85% 0 0
						.col-lg-5, .col-lg-7
							padding-left: 42px
							padding-right: 42px

							a
								h3
									color: #333333
									transition: 0.2s
									font-family: $bebas
									font-weight: bold
								&:hover,:focus
									color: #828282
									h3
										color: $red
						.col-lg-5
							border-right: 1px solid #ccc
						.col-lg-7
							border-left: 1px solid #ccc
							margin-left: -1px
.content
	z-index: -1
	.col-lg-7
		article
			height: 670px
			padding-top: 40px
			.header
				h2
					font-family: $bebas
					font-weight: bold
					font-size: 60px
					line-height: 60px
					color: #343434
					margin-top: 0
					margin-bottom: 16px
					span
						color: $red
			.article-main
				position: relative
				padding-bottom: 81px
				&:after
					content: ""
					position: absolute
					bottom: 0
					left: 0
					width: 100%
					height: 120px
					border-radius: 5px
					background-color: #EFEFEF
				.photo
					overflow: hidden
					border-radius: 5px
					img
						width: 100%
						height: auto
				.desc-min
					position: absolute
					bottom: 20px
					width: 93%
					left: 3.5%
					text-align: center
					z-index: 10
					background-color: #FFF
					color: #333
					padding: 38px 35px
					opacity: 1.00
					box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15)
					border-radius: 5px
	.aside
		padding: 0 36px 20px
		position: relative
		height: 670px
		.main-right
			background: #FFFFFF
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15)
			border-radius: 0 0 5px 5px
			padding-top: 40px
			.b-timer
				text-align: center
				p
					font-size: 18px
					line-height: 100%
					padding: 15px
				.b-timer-wrapper
					display: inline-block
					width: 100%
					font-size: 0
					background-color: #F7F7F7
					padding: 11px 65px 13px
					.b-timer__item
						display: inline-block
						width: 25%
						font-size: 10px
						color: #BDBDBD
						span
							font-family: $bebas
							display: block
							font-size: 50px
							line-height: 100%
							color: #4F4F4F
			form
				padding: 0 34px
				position: relative
				font-weight: normal
				select
					background-color: transparent
					border: none
					margin-bottom: 25px
					option
						background-color: #FFF
						background-color: 
						&.land
							position: relative
							padding: 7px 15px 7px 30px
							&:before
								position: absolute
								content: ""
								width: 23px
								height: 15px
								background-repeat: no-repeat
								background-position: 0 0
							&.br:before
								background-image: url("../img/icon/flag-br.jpg") 
							&.ru:before
								background-image: url("../img/icon/flag-ru.jpg") 
							&.kz:before
								background-image: url("../img/icon/flag-kz.jpg") 
							&.ua:before
								background-image: url("../img/icon/flag-ua.png")
				.input--nariko
					position: relative
					display: block
					input
						border: none
						border-bottom: 1px solid #E5E5E5
						width: 100%
						padding-top: 10px
						outline: none
						margin-bottom: 25px
					label
						position: absolute
						font-size: 16px
						color: #999
						font-weight: normal
						top: 10px
						transition: 0.2s
						cursor: text
					&.input--filled
						label
							font-size: 14px
							cursor: default
							transform: translateY(-20px)
				input[type="checkbox"]
					display: none
					& + label
						padding-left: 40px
						position: relative
						font-size: 16px
						line-height: 16px
						font-size: 16px
						color: #999
						font-weight: lighter
						&:before
							position: absolute
							content: ""
							width: 20px
							height: 20px
							border: 1px solid #ccc
							left: 0
							top: 0
					&:checked + label
						&:after
							position: absolute
							content: ""
							width: 23px
							height: 20px
							background-image: url("../img/icon/checked.svg")
							background-repeat: no-repeat
							left: 1px
							top: 0











	

@import "media" // Всегда в конце
